.holder {
	width: 300px;
}

.htmlCatImg{
	width: 100%;
	height: auto;
	cursor: pointer;
	border: 1px solid blue;
}
.htmlCatHolder, .holderAdmin{
	display: none;
}

.htmlCatHolder.active, .holderAdmin.active{
	display : block;
}	
button {
    border-radius: 20px;
    width: 55px;
    height: 30px;
    border: 1px solid blue;
    cursor: pointer;
}
label {
	width: 40px;
    display: inline-block;
}
.holderAdmin > div {
	padding: 5px 0px 5px;
}
.htmlCatHolder > label{
	display: inline;
}
.navigationButton.active{
	background-color: white;	
}